.collapse-container {
    margin-top: 10px;
  
    &.column-style {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        
        
        
      .collapse {
        width: 90%;
       
      }
    }
  
}