.collapse-container {
    margin-top: 10px;
  
    &.column-style {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        
      .collapse {
        width: 90%;
        @media (max-width: 768px) {
                width: 100%;
        }
    }
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .collapse-container {
    &.collapse {
      width: 100%;
  }
}
}