.error-404{
    display: flex;
    align-items: center;
    flex-direction: column;

    & h1{
        font-size: 350px;
        color: $color-danger;
        margin-top: 5px;
        margin-bottom: 40px;
    }
    & p{
        font-size: 40px;
        color: $color-danger;
        margin-top: 0;
        margin-bottom: 60px;
    }
    & a{
        text-decoration: underline;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

}