@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
body {
  padding: 0;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: 20px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
nav ul li a:hover, nav ul li a.active {
  text-decoration: underline;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero {
  position: relative; /* Pour positionner le pseudo-élément */
  background: url("../../src/app/assets/banner.svg") center/cover no-repeat;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden; /* Pour que le voile reste à l'intérieur des bordures arrondies */
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  z-index: 2; /* Pour que le contenu reste en-dessous du pseudo-élément */
}
.hero.about-hero {
  background: url("../../src/app/assets/about-banner.svg") center/cover no-repeat;
}
.hero.about-hero::before {
  background: rgba(0, 0, 0, 0.2);
}
.hero::before {
  content: ""; /* Pour que le pseudo-élément s'affiche */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Couleur noire opacité de 50% */
  border-radius: inherit; /* Hérite la bordure arrondie du parent */
}
.hero h1 {
  font-size: 2.5rem;
  text-align: center;
  z-index: 1; /* Pour que le contenu reste au-dessus du pseudo-élément */
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero {
    border-radius: 10px;
  }
  .hero h1 {
    text-align: left;
    margin-left: 20px;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  nav ul li {
    margin-left: 10px;
  }
  nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
  }
  header {
    padding: 0 20px;
    margin-bottom: 0;
  }
  header img {
    width: 115px;
  }
}
.collapse {
  margin: 10px 0;
}
.collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  padding: 0 10px;
  color: #FFFFFF;
  border-radius: 10px;
}
.collapse .collapse-header h2 {
  font-size: 20px;
}
.collapse .collapse-header .collapse-icon {
  font-size: 30px;
  cursor: pointer;
  transition: transform 1s ease;
}
.collapse .collapse-header .collapse-icon .fas {
  transition: transform 1000ms;
}
.collapse .collapse-header .collapse-icon .fas:hover {
  transform: scale(1.15);
}
.collapse .collapse-content {
  padding: 0 15px;
  background-color: #fbfbfb;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s ease-in-out, padding 0.7s ease-out;
}
.collapse .collapse-content.open {
  padding: 15px;
  max-height: 500px;
}
.collapse .collapse-content ul, .collapse .collapse-content ol {
  list-style-type: none;
  padding-left: 0;
}
.collapse .collapse-content ul li, .collapse .collapse-content ol li {
  padding-left: 0;
}

.equipments {
  margin-top: 20px;
}
.equipments ul {
  list-style: none;
  padding: 0;
}
.equipments ul li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .collapse-container {
    flex-direction: column;
  }
  .collapse-container .collapse {
    width: 100%;
  }
}
.collapse-container {
  margin-top: 10px;
  width: 90%;
}
.collapse-container.inline-style {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}
.collapse-container.inline-style .collapse {
  width: 100%;
}

.location-details-content {
  padding: 20px;
  width: 90%;
  margin: auto;
}
.location-details-content .info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.location-details-content .info-container .info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.location-details-content .info-container .info-left h1 {
  color: #FF6060;
  margin-top: 10px;
}
.location-details-content .info-container .info-left .location {
  font-weight: bold;
  margin-top: 20px;
}
.location-details-content .info-container .info-left .tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.location-details-content .info-container .info-left .tags .tag {
  background-color: #FF6060;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 20px;
}
.location-details-content .info-container .info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.location-details-content .info-container .info-right .host-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: 10px;
}
.location-details-content .info-container .info-right .host-info img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.location-details-content .info-container .info-right .host-info p {
  color: #FF6060;
  margin-right: 20px;
  width: 33%;
  text-align: right;
}
.location-details-content .info-container .info-right .rating {
  margin-top: 10px;
  font-size: 18px;
}

/* Medium devices (tablets, less/equal than 1024px) */
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .collapse-container {
    margin-top: 10px;
    width: 90%;
  }
  .collapse-container.inline-style {
    flex-direction: column;
    gap: 40px;
  }
  .location-details-content .info-container {
    flex-direction: column;
  }
  .location-details-content .info-container .location {
    margin-bottom: 10px;
  }
  .location-details-content .info-container .info-left, .location-details-content .info-container .info-right {
    width: 100%;
  }
  .location-details-content .info-container .info-left .tags {
    font-size: 12px;
    gap: 5px;
  }
  .location-details-content .info-container .info-left .tags .tag {
    background-color: #FF6060;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .location-details-content .info-container .info-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .location-details-content .info-container .info-right .host-info, .location-details-content .info-container .info-right .rating {
    margin: 0;
  }
  .location-details-content .info-container .info-right .rating .fa-star {
    font-size: 0.7em;
  }
  .location-details-content .info-container .info-right .host-info img {
    width: 50px;
    height: 50px;
  }
}
.collapse-container {
  margin-top: 10px;
}
.collapse-container.column-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.collapse-container.column-style .collapse {
  width: 90%;
}

.error-404 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-404 h1 {
  font-size: 350px;
  color: #FF6060;
  margin-top: 5px;
  margin-bottom: 40px;
}
.error-404 p {
  font-size: 40px;
  color: #FF6060;
  margin-top: 0;
  margin-bottom: 60px;
}
.error-404 a {
  text-decoration: underline;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  padding-top: 30px;
  margin-top: 40px;
}
footer p {
  color: white;
}

.accomodations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
}

.accomodation-link {
  width: 30%;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 0;
  box-sizing: border-box;
}

.accomodation-link::after {
  content: attr(data-title);
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  padding: 5px;
  font-weight: bold;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .accomodation-link {
    width: 45%;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .accomodations-container {
    padding: 0;
    background-color: #ffffff;
  }
  .accomodation-link {
    width: 100%;
  }
}
.slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slideshow .slideshow-image {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 10px;
}
.slideshow .slideshow-button {
  position: absolute;
  top: 40%;
  color: #ffffff;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 60px;
}
.slideshow .slideshow-button.prev {
  left: 10px;
}
.slideshow .slideshow-button.next {
  right: 10px;
}
.slideshow .slideshow-indicator {
  position: absolute;
  bottom: 10px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .slideshow .slideshow-image {
    height: 200px;
  }
  .slideshow .slideshow-button {
    font-size: 30px;
  }
  .slideshow .slideshow-indicator {
    display: none;
  }
}
.rating-stars {
  display: flex;
  font-size: 1.5em;
  color: #FF6060;
  border: none;
}
.rating-stars .fa-star {
  margin-right: 5px;
}
.rating-stars .fas {
  color: #FF6060;
}
.rating-stars .far.empty {
  color: #ccc;
}

/*# sourceMappingURL=style.css.map */
