@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
body {
  padding: 0;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero {
  position: relative; /* Essentiel pour positionner le pseudo-élément */
  background: url("../../src/app/assets/banner.svg") center/cover no-repeat;
  height: 200px;
  width: 90%;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden; /* Pour que le voile reste à l'intérieur des bordures arrondies */
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  z-index: 2; /* Pour que le contenu reste en-dessous du pseudo-élément */
}
.hero::before {
  content: ""; /* Pour que le pseudo-élément s'affiche */
  position: absolute; /* Positionnement par rapport au conteneur relatif */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Couleur noire avec une opacité de 50% */
  border-radius: inherit; /* Hérite la bordure arrondie du parent */
}
.hero h1 {
  font-size: 2.5rem;
  text-align: center;
  z-index: 1; /* Pour que le contenu reste au-dessus du pseudo-élément */
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero {
    border-radius: 10px;
  }
  .hero h1 {
    text-align: left;
    margin-left: 20px;
  }
}
.location-details-content {
  padding: 20px;
  width: 90%;
  margin: auto;
}
.location-details-content .info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.location-details-content .info-container .info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.location-details-content .info-container .info-left h1 {
  color: #FF6060;
  margin-top: 10px;
}
.location-details-content .info-container .info-left .location {
  font-weight: bold;
  margin-top: 20px;
}
.location-details-content .info-container .info-left .tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.location-details-content .info-container .info-left .tags .tag {
  background-color: #FF6060;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 20px;
}
.location-details-content .info-container .info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.location-details-content .info-container .info-right .host-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.location-details-content .info-container .info-right .host-info img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.location-details-content .info-container .info-right .host-info p {
  color: #FF6060;
  margin-right: 20px;
}
.location-details-content .info-container .info-right .rating {
  margin-top: 10px;
  font-size: 18px;
}

/* Mobile styles */
@media (max-width: 767.98px) {
  .location-details-content .info-container {
    flex-direction: column;
  }
  .location-details-content .info-container .location {
    margin-bottom: 10px;
  }
  .location-details-content .info-container .info-left, .location-details-content .info-container .info-right {
    width: 100%;
  }
  .location-details-content .info-container .info-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .location-details-content .info-container .info-right .host-info, .location-details-content .info-container .info-right .rating {
    margin: 0;
  }
  .location-details-content .info-container .info-right .rating {
    margin-left: 10px;
  }
  .location-details-content .info-container .info-right .rating .fa-star {
    font-size: 0.7em;
  }
  .location-details-content .info-container .info-right .host-info img {
    width: 50px;
    height: 50px;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
  margin: 20px auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  nav ul li {
    margin-left: 10px;
  }
  nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
  }
  header img {
    width: 115px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  padding-top: 30px;
  margin-top: 40px;
}
footer p {
  color: white;
}

.locations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
  margin: 50px auto auto;
}

.locations-container .location-link {
  display: flex;
  text-decoration: none;
}

.location-card {
  display: flex;
  flex-direction: column;
  width: 27%;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #FF6060;
  box-sizing: border-box;
}
.location-card img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.location-card h2 {
  margin-left: 20px;
  font-size: 16px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .locations-container {
    padding: 0;
    background-color: #ffffff;
  }
  .location-card {
    flex-basis: 100%;
  }
}
.slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slideshow .slideshow-image {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 10px;
}
.slideshow .slideshow-button {
  position: absolute;
  top: 40%;
  color: #ffffff;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 60px;
}
.slideshow .slideshow-button.prev {
  left: 10px;
}
.slideshow .slideshow-button.next {
  right: 10px;
}
.slideshow .slideshow-indicator {
  position: absolute;
  bottom: 10px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

.collapse-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.collapse-container .collapse {
  margin: 10px 0;
  width: 45%;
}
.collapse-container .collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  padding: 0 10px;
  color: #FFFFFF;
  border-radius: 10px;
}
.collapse-container .collapse .collapse-header h2 {
  font-size: 20px;
}
.collapse-container .collapse .collapse-header .collapse-icon {
  font-size: 30px;
  cursor: pointer;
}
.collapse-container .collapse .collapse-content {
  padding: 15px;
  background-color: #fbfbfb;
}
.collapse-container .collapse .collapse-content ul, .collapse-container .collapse .collapse-content ol {
  list-style-type: none;
  padding-left: 0;
}
.collapse-container .collapse .collapse-content ul li, .collapse-container .collapse .collapse-content ol li {
  padding-left: 0;
}

.equipments {
  margin-top: 20px;
}
.equipments ul {
  list-style: none;
  padding: 0;
}
.equipments ul li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .collapse-container {
    flex-direction: column;
  }
  .collapse-container .collapse {
    width: 100%;
  }
}
.rating-stars {
  display: flex;
  font-size: 1.5em;
  color: #FF6060;
  border: none;
}
.rating-stars .fa-star {
  margin-right: 5px;
}
.rating-stars .fas {
  color: #FF6060;
}
.rating-stars .far.empty {
  color: #ccc;
}

/*# sourceMappingURL=style.css.map */
