.accomodations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  background-color: $color-bg;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;

  @media (max-width: 767.98px) {
    padding: 0;
    background-color: #ffffff;
  }
}

.accomodation-link {
  width: 30%;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  

  &::after {
    content: attr(data-title);
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    padding: 5px;
    font-weight: bold;
  }

  @media (max-width: 1024px) {
    width: 45%;
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}
