.locations-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  width: 90%;
  margin: auto;
  background-color: $color-bg;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;

}

.location-link {
  width: 30%;
  text-decoration: none;
  color: inherit;
}

.location-card {
  display: flex;
  flex-direction: column;
  
  cursor: pointer;
  margin: 20px 0;
  border-radius: 10px;
  box-sizing: border-box;

  img {
    max-width: 100%;
    border-radius: 10px;
  }

  h2 {
    margin-left: 20px;
    font-size: 16px;
  }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .locations-container {
      padding: 0;
      background-color: #ffffff;
  }

}