
@keyframes rotate-down {
  to {
    transform: rotate(0deg);
}
  from {
      transform: rotate(180deg);
  }
  
}

@keyframes rotate-up {
  from {
      transform: rotate(-180deg);
  }
  to {
      transform: rotate(0deg);
  }
}


.collapse {
  margin: 10px 0;
      
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-danger;
      padding: 0 10px;
      color: #FFFFFF;
      border-radius: 10px;

        h2{
          font-size: 20px;
        }
        .collapse-icon {
          font-size: 30px;
          cursor: pointer;

          .fas {
            &.fa-chevron-up {
              animation: rotate-up 0.7s ease-in-out;
            }
            &.fa-chevron-down {
                animation: rotate-down 0.7s ease-out;
            }
            
        }
    }
}

.collapse-content {
    padding: 0 15px;
    background-color: #fbfbfb;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.7s ease-in-out, padding 0.7s ease-out;

    &.open {
      padding: 15px;
      max-height: 500px;
    }

    ul, ol {
      list-style-type: none;
      padding-left: 0;

        li{
            padding-left: 0;
        }
      }
    }
  }

.equipments {
  margin-top: 20px;

  ul {
      list-style: none;
      padding: 0;

      li {
          background-color: #f1f1f1;
          margin: 5px 0;
          padding: 10px;
          border-radius: 5px;
      }
   }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px){
  .collapse-container{
      flex-direction: column;

    .collapse{
          width: 100%;
    }
  }
}