footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding-top: 30px;
    margin-top: 40px;
  
    p {
      color: white;
    }
  }
  
  /* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  
  footer{
    height: 180px;
  }
}