.rating-stars {
  display: flex;
  font-size: 1.5em;
  color: $color-danger;
  border: none;

  .fa-star {
      margin-right: 5px; // Espace entre les étoiles
  }

  .fas {
      color: $color-danger; // Couleur des étoiles remplies
  }

  .far.empty {
      color: $color-secondary; // Couleur des étoiles vides
  }
}
